.standby {
}

.connecting {
  animation: flash 3s infinite;
}

.connected {
  color: lime;
}

.timeout {
  color: orange;
}

.error {
  color: red;
}

@keyframes flash {
  50% {
    color: lime;
  }
}
